# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Environment variables
.env

# Node.js
node_modules/

# Build output
dist/
.next/
out/

# MP4 files in public folder
public/*.mp4

# MP4 files
*.mp4